In [1]:
import os
from dateutil.parser import parse
import pandas as pd
import numpy as np
import glob

In [2]:
def Date(index):
    try:
        return parse(text[index])
    except ValueError:
        return False

def find_date(index):
    status = Date(index)
    while(status is False):
        index-=1
        status = Date(index)
    return str(status),text[index]

def file_name(name):
    fn = os.path.basename(name)
    source_application = fn.split('_')
    return fn,source_application[1]

dt = pd.read_excel('contoh transformasi.xlsx',sheet_name = 1)

In [3]:
nama_file = glob.glob("*.log")
datas = []

for files in nama_file:
    data = open(files,'r')
    text = data.read().split('\n')
    data.close()
    # print(text)

    index = 0
    fn, source_application = file_name(files)

    for i in text:
        if 'Starting ORACLE instance' in i:
            event_date,raw = find_date(index)
            datas.append([fn,source_application,'os','alertdb',source_application,event_date,raw,None,i,None,'Start',None])
        elif 'Instance shutdown complete' in i:
            event_date,raw = find_date(index)
            datas.append([fn,source_application,'os','alertdb',source_application,event_date,raw,None,i,None,'Shutdown',None])
        index+=1

df = pd.DataFrame(np.array(datas),columns = dt.columns)
df

,source_file,source_application,source_log,source_type,source_server,event_date,event_rawdate,event_server,event_msg,event_user,event_keyword,event_upserver
0,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2018-08-30 14:31:37,Thu Aug 30 14:31:37 2018,None,Starting ORACLE instance (normal) (OS id: 7703),None,Start,None
1,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2018-08-30 14:33:39,Thu Aug 30 14:33:39 2018,None,Instance shutdown complete,None,Shutdown,None
2,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2018-08-30 14:33:42,Thu Aug 30 14:33:42 2018,None,Starting ORACLE instance (normal) (OS id: 8548),None,Start,None
3,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2018-08-30 14:34:12,Thu Aug 30 14:34:12 2018,None,Instance shutdown complete,None,Shutdown,None
4,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2018-08-30 14:34:15,Thu Aug 30 14:34:15 2018,None,Starting ORACLE instance (normal) (OS id: 8809),None,Start,None
5,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2018-08-30 14:39:46,Thu Aug 30 14:39:46 2018,None,Instance shutdown complete,None,Shutdown,None
6,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2018-08-30 14:39:52,Thu Aug 30 14:39:52 2018,None,Starting ORACLE instance (normal) (OS id: 11604),None,Start,None
7,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2018-11-09 22:24:27,Fri Nov 09 22:24:27 2018,None,Starting ORACLE instance (normal) (OS id: 7663),None,Start,None
8,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-01-29 16:14:33,Tue Jan 29 16:14:33 2019,None,Instance shutdown complete,None,Shutdown,None
9,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-01-29 16:28:29,Tue Jan 29 16:28:29 2019,None,Starting ORACLE instance (normal) (OS id: 5928),None,Start,None
10,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-02-13 15:58:44,Wed Feb 13 15:58:44 2019,None,Starting ORACLE instance (normal) (OS id: 39529),None,Start,None
11,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-02-28 17:35:04,Thu Feb 28 17:35:04 2019,None,Instance shutdown complete,None,Shutdown,None
12,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-02-28 17:35:33,Thu Feb 28 17:35:33 2019,None,Starting ORACLE instance (normal) (OS id: 37851),None,Start,None
13,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-03-06 02:16:26,Wed Mar 06 02:16:26 2019,None,Starting ORACLE instance (normal) (OS id: 5371),None,Start,None
14,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-03-17 13:06:34,Sun Mar 17 13:06:34 2019,None,Instance shutdown complete,None,Shutdown,None
15,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-03-17 13:08:53,Sun Mar 17 13:08:53 2019,None,Starting ORACLE instance (normal) (OS id: 18187),None,Start,None
16,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-03-17 13:11:48,Sun Mar 17 13:11:48 2019,None,Instance shutdown complete,None,Shutdown,None
17,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-03-17 13:12:02,Sun Mar 17 13:12:02 2019,None,Starting ORACLE instance (normal) (OS id: 20028),None,Start,None
18,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-03-17 13:13:46,Sun Mar 17 13:13:46 2019,None,Instance shutdown complete,None,Shutdown,None
19,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-03-17 13:14:47,Sun Mar 17 13:14:47 2019,None,Starting ORACLE instance (normal) (OS id: 21724),None,Start,None
20,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-03-17 13:16:33,Sun Mar 17 13:16:33 2019,None,Instance shutdown complete,None,Shutdown,None
21,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-03-17 13:16:59,Sun Mar 17 13:16:59 2019,None,Starting ORACLE instance (normal) (OS id: 23289),None,Start,None
22,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-03-17 13:19:43,Sun Mar 17 13:19:43 2019,None,Instance shutdown complete,None,Shutdown,None
23,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-03-17 13:33:28,Sun Mar 17 13:33:28 2019,None,Starting ORACLE instance (normal) (OS id: 33057),None,Start,None
24,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-04-12 21:54:16,Fri Apr 12 21:54:16 2019,None,Instance shutdown complete,None,Shutdown,None
25,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-04-12 22:56:30,Fri Apr 12 22:56:30 2019,None,Starting ORACLE instance (normal) (OS id: 6166),None,Start,None
26,alert_crmcfudb1_230619.log,crmcfudb1,os,alertdb,crmcfudb1,2019-04-12 23:45:14,Fri Apr 12 23:45:14 2019,None,Starting ORACLE instance (normal) (OS id: 5777),None,Start,None
27,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2018-08-30 14:40:06,Thu Aug 30 14:40:06 2018,None,Starting ORACLE instance (normal) (OS id: 8034),None,Start,None
28,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2018-09-14 01:13:02,Fri Sep 14 01:13:02 2018,None,Starting ORACLE instance (normal) (OS id: 12815),None,Start,None
29,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2018-11-09 22:43:21,Fri Nov 09 22:43:21 2018,None,Starting ORACLE instance (normal) (OS id: 13168),None,Start,None
30,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2018-12-16 16:22:10,Sun Dec 16 16:22:10 2018,None,Starting ORACLE instance (normal) (OS id: 41159),None,Start,None
31,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-01-24 03:47:57,Thu Jan 24 03:47:57 2019,None,Starting ORACLE instance (normal) (OS id: 17958),None,Start,None
32,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-01-29 16:32:51,Tue Jan 29 16:32:51 2019,None,Instance shutdown complete,None,Shutdown,None
33,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-01-29 16:42:29,Tue Jan 29 16:42:29 2019,None,Starting ORACLE instance (normal) (OS id: 9029),None,Start,None
34,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-02-13 16:05:39,Wed Feb 13 16:05:39 2019,None,Starting ORACLE instance (normal) (OS id: 5295),None,Start,None
35,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-02-13 16:23:11,Wed Feb 13 16:23:11 2019,None,Starting ORACLE instance (normal) (OS id: 5214),None,Start,None
36,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-02-13 16:42:57,Wed Feb 13 16:42:57 2019,None,Starting ORACLE instance (normal) (OS id: 5217),None,Start,None
37,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-02-13 16:54:40,Wed Feb 13 16:54:40 2019,None,Starting ORACLE instance (normal) (OS id: 5168),None,Start,None
38,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-02-13 16:54:40,Wed Feb 13 16:54:40 2019,None,Starting ORACLE instance (normal) (OS id: 5062),None,Start,None
39,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-02-13 17:24:21,Wed Feb 13 17:24:21 2019,None,Starting ORACLE instance (normal) (OS id: 5263),None,Start,None
40,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-02-13 17:39:52,Wed Feb 13 17:39:52 2019,None,Starting ORACLE instance (normal) (OS id: 5152),None,Start,None
41,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-02-19 13:48:21,Tue Feb 19 13:48:21 2019,None,Starting ORACLE instance (normal) (OS id: 5163),None,Start,None
42,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-02-28 17:38:40,Thu Feb 28 17:38:40 2019,None,Instance shutdown complete,None,Shutdown,None
43,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-02-28 17:38:53,Thu Feb 28 17:38:53 2019,None,Starting ORACLE instance (normal) (OS id: 17887),None,Start,None
44,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-03-06 02:31:29,Wed Mar 06 02:31:29 2019,None,Starting ORACLE instance (normal) (OS id: 5282),None,Start,None
45,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-03-17 13:06:37,Sun Mar 17 13:06:37 2019,None,Instance shutdown complete,None,Shutdown,None
46,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-03-17 13:08:54,Sun Mar 17 13:08:54 2019,None,Starting ORACLE instance (normal) (OS id: 48728),None,Start,None
47,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-03-17 13:11:46,Sun Mar 17 13:11:46 2019,None,Instance shutdown complete,None,Shutdown,None
48,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-03-17 13:12:01,Sun Mar 17 13:12:01 2019,None,Starting ORACLE instance (normal) (OS id: 50212),None,Start,None
49,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-03-17 13:14:10,Sun Mar 17 13:14:10 2019,None,Instance shutdown complete,None,Shutdown,None
50,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-03-17 13:14:47,Sun Mar 17 13:14:47 2019,None,Starting ORACLE instance (normal) (OS id: 52060),None,Start,None
51,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-03-17 13:16:36,Sun Mar 17 13:16:36 2019,None,Instance shutdown complete,None,Shutdown,None
52,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-03-17 13:16:59,Sun Mar 17 13:16:59 2019,None,Starting ORACLE instance (normal) (OS id: 53311),None,Start,None
53,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-03-17 13:19:21,Sun Mar 17 13:19:21 2019,None,Instance shutdown complete,None,Shutdown,None
54,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-03-17 13:33:28,Sun Mar 17 13:33:28 2019,None,Starting ORACLE instance (normal) (OS id: 8322),None,Start,None
55,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-04-12 22:58:30,Fri Apr 12 22:58:30 2019,None,Instance shutdown complete,None,Shutdown,None
56,alert_crmcfudb2_230619.log,crmcfudb2,os,alertdb,crmcfudb2,2019-04-12 23:09:24,Fri Apr 12 23:09:24 2019,None,Starting ORACLE instance (normal) (OS id: 6426),None,Start,None

In [5]:
writer = pd.ExcelWriter('Transformasi.xlsx')
df.to_excel(writer,'Sheet1',index=False)
writer.save()